x64/Release/Atorio-Filters.pdb
x64/Release/Atorio-Filters.ipdb
x64/Release/Atorio-Filters.iobj
x64/Release/Atorio-Filters.lib
x64/Release/Atorio-Filters.dll
x64/Release/Atorio-Filters.exp
.vs/
.vs/Atorio-Filters/
Atorio-Filters/x64/
Debug/
Atorio-Filters/Debug/
